<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form action="/registration">
    <label>Введите название:</label>
    <input type="text" name="userName" placeholder="Введите имя">
    <br>
    <label>Введите пароль:</label>
    <input type="password" name="password" placeholder="Введите пароль">
    <br>
    <a href = "/login">Вы уже зарегистрированы?</a>
    <br>
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>